/* styles.css */

.grid-container {
  display: flex;
  
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 500px; /* Adjust grid size as needed */
}
.grid-container{
  object-fit:contain;
}

.grid-cell {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  border: 2px solid white;
  box-sizing: border-box;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.grid-cell.selected {
  border-color: green;
  background-color: rgba(0, 255, 0, 0.5);
}

.grid-cell.hovered {
  border-color: yellow; /* Define your styles for the hovered state */
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100px; /* Adjust the width as needed */
  background-color: lightgray; /* Default background color */
}

.green-sidebar {
  background-color: green; /* Green background color for the Sidebar */
}

.app-container {
  display: flex; /* Use flexbox to arrange Sidebar and Grid side by side */
}
.centered-name {
  text-align: center;
  color: white;
  text-decoration: underline;
  font-size: 1rem; /* Adjust the font size as needed */
  margin: 0 auto; /* Center the element horizontally */
}
